{{log 'tracker-segment.hbs' this}}
{{#each root.turns}}

    {{#if (includes this.flags.segments ../segment )}}
        {{!-- {{log this.name ../root.turn ../segment ../root.combat.flags.segmentNumber this.active (and this.active (eq ../segment ../root.combat.flags.segmentNumber))}} --}}
        <li class="combatant actor directory-item flexrow {{this.css}} {{#if (and this.active (eq ../segment ../root.combat.flags.segmentNumber))}}active{{/if}}" data-combatant-id="{{this.id}}">
            <img class="token-image" data-src="{{this.img}}" alt="{{this.name}}"/>
            <div class="token-name flexcol">
                <h4>{{this.name}} </h4>
                {{#if this.flags.lightningReflexes}}
                    <h4 title="Lightning Reflexes">LR {{lightningReflexesDisplay this.flags.lightningReflexes}}</h4>
                {{else}}
                    <div class="combatant-controls flexrow">
                        {{#if ../root/user.isGM}}
                        <a class="combatant-control {{#if this.hidden}}active{{/if}}" data-tooltip="COMBAT.ToggleVis" data-control="toggleHidden">
                            <i class="fas fa-eye-slash"></i>
                        </a>
                        <a class="combatant-control {{#if this.defeated}}active{{/if}}" data-tooltip="COMBAT.ToggleDead" data-control="toggleDefeated">
                            <i class="fas fa-skull"></i>
                        </a>
                        {{/if}}
                        {{#if this.canPing}}
                        <a class="combatant-control" data-tooltip="COMBAT.PingCombatant" data-control="pingCombatant">
                            <i class="fa-solid fa-bullseye-arrow"></i>
                        </a>
                        {{/if}}
                        <div class="combatant-control token-effects">
                            {{#each this.effects}}
                            {{log this.id this.name}}
                            <a class="combatant-control" data-tooltip="{{this.name}}" data-control="effect" data-effect-id="{{this.id}}">
                                <img class="token-effect" src="{{this.img}}" />
                            </a>
                            {{/each}}
                        </div>
                    </div>
                {{/if}}
            </div>

            {{#if this.hasResource}}
            <div class="token-resource">
                <span class="resource">{{this.resource}}</span>
            </div>
            {{/if}}

            <div class="token-initiative">
                {{#if this.hasRolled}}
                <span class="initiative">{{this.initiative}}</span>
                {{else if this.owner}}
                <a class="combatant-control roll" data-tooltip="COMBAT.InitiativeRoll" data-control="rollInitiative"></a>
                {{/if}}
            </div>
        </li>
    {{/if}}
{{/each}}