{{!-- {{log 'tracker.hbs' this}} --}}
<ol id="combat-tracker" class="combat-tracker directory-list">
    {{#each segments}}

        <li class="segment-container">
            <h3 class="{{#if this.length}}segment-has-items{{else}}segment-inactive{{/if}} segment-header {{#if (eq @index @root.combat.current.segment)}}segment-active{{/if}}">Segment {{@index}} {{#if @root/alphaTesting}}[tokens:{{this.length}}]{{/if}}</h3>
            <ol class="segment-content" {{#if (or (eq @index @root.combat.current.segment) (and (eq @root.combat.round 0) (eq @index 12)))}}{{else}} 
            style="display:none"
                {{/if}} data-segment-id="{{@index}}">

                {{> (getModulePath 'combat/tracker-segment.hbs')  root=@root segment=@index}}
            </ol>
        </li>
    {{/each}}
</ol>
